.banner{
    background: var(--blue-degrad);
    color: var(--white-primary);
    text-align: center;
    padding: 2.5em 2em;
}

.banner_titulo{
    font-size: 1.12em;
    font-weight: 700;
}

.banner_texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner_pesquisa{
    background-color: transparent;
    border: 1px solid var(--white-primary);
    color: var(--white-primary);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner_pesquisa::placeholder{
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--white-primary);
    background: url("../imagens/Lupa.svg") no-repeat;
}
