.carrossel__titulo{
    color: var(--orange);
    background-color: var(--white-primary);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 5em 0;
}

.swiper-scrollbar{
    display: none;
}

.card{
    background: var(--white-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo{
    color: var(--orange);
    font-weight: 700;
}

.descricao__titulo-livro{
    color: var(--blue);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao__texto{
    font-size: 14px;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em ;
}

.card___botoes{
    display: flex;
    justify-content: space-between;
}

.botoes__lista{
    display: flex;
    justify-content: space-between
}

.botoes__item{
    margin: 0 0.5em;
}

.botao__card{
    background-color: var(--orange);
    padding: 1em 2.2em ;
    color: var(--white-primary);
    font-weight: 700;
    text-decoration: none;
}